[submodule "plugins/start/nerdtree"]
	path = plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "plugins/start/nerdtree-git-plugin"]
	path = plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "colors/start/one"]
	path = colors/start/one
	url = https://github.com/rakr/vim-one.git
[submodule "syntax/opt/elixir"]
	path = syntax/opt/elixir
	url = https://github.com/elixir-lang/vim-elixir
[submodule "plugins/start/python-mode"]
	path = plugins/start/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "plugins/start/vim-syntastic"]
	path = plugins/start/vim-syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "plugins/start/vim-terraform"]
	path = plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
